.trip-info-summary {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 20px;
  height: 200px;
}

.trip-info-summary h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
